<div>
    <form [formGroup]="registrationFG">
        <div>
            <label>ID:</label>
            <input type="text" name='id' formControlName='id'/>
        </div>

        <div formGroupName="name">
            <div>
                <label>firstName:</label>
                <input type="text" name='firstName' formControlName='firstName'/>
            </div>
            <div>
                <label>lastName:</label>
                <input type="text" name='lastName' formControlName='lastName'/>
            </div>
        </div>

        <div>
            <label>birthdate:</label>
            <input type="text" name='birthDate' formControlName='birthDate'/>
        </div>
        <div>
            <label>email:</label>
            <input type="text" name='email' formControlName='email'/>
        </div>
        <div>
            <label>address:</label>
            <input type="text" name='address' formControlName='address'/>
        </div>

        <div>
            <button (click)="onUpdate()">Update</button>
        </div>
    </form>
    
</div>