
<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{userDetaile.avatar}}" height="100%" alt="user">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-text text-danger">id: {{userDetaile.id}}</h5>
              <h5 class="card-title text-warning">Name: {{userDetaile.first_name}} {{userDetaile.last_name}}</h5>
              <h5 class="card-text text-info">Email: {{userDetaile.email}}</h5>
            </div>
          </div>
        </div>
      </div>
</div>


