<app-skill-add [index]="selectedIndex" *ngIf="showAddFormStatus" [data]="data" [formData]="formData" (onUpdate)="onFormUpdate($event)"></app-skill-add>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Skills</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 350px;">
            <button class="btn" (click)="toggleAddForm()">
                <i class="fas fa-plus"></i>
            </button>
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Skill ID</th>
                <th>Level ID</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="data && data.length > 0">
              <tr *ngFor="let item of data; let i = index">
                <td>{{ item.id }}</td>
                <td>{{ item.levelId }}</td>
                <td>
                  <button class="btn btn-xs" (click)="onEdit(i)">
                      <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-xs" (click)="remove(item.id)">
                      <i class="fas fa-trash"></i>
                  </button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
