<div *ngIf="isLoading">
    <img width="50" src="../../../../assets/spinner.gif"/>
</div>
<div *ngIf="!isLoading">
<div class="section">
  <div class="add-delete">
    <button type="button" class="btn btn-info" routerLink="/users/add">+</button>
    <button type="button" class="btn btn-warning" (click)="deleteSelectedUsers()">Delete All Selected</button>
  </div>
  
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isDelete">
    <strong>{{msgDelete}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
    <div class="table-responsive-sm">
      <table class="table table-striped table-hover ">
        <thead class="thead-dark">
          <tr>
            <th><input type="checkbox" (click)="toggleCheckAll($event)"/></th>
            <th>Image</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="users && users.length > 0">
          <tr *ngFor="let item of users; let i = index">
            <td><input type="checkbox" [checked]="userChecked[i]" (click)="toggleCheck($event, i)"/></td>
            <td><img width="80px" src="{{ item.avatar}}"></td>
            <td>{{ item.id }}</td>
            <td>{{ item.first_name }} {{ item.last_name }}</td>
            <td>{{ item.email }}</td>
            <td class="actions">
              <button type="button" class="btn btn-success" [routerLink]="['/users/edit/',item.id]">
                Edit
              </button>
              <button type="button" class="btn btn-danger" (click)="deleteUser(item.id)">Delete</button>
              <button type="button" class="btn btn-primary" (click)="detailsUser(item.id)" [routerLink]="['/users/details/', item.id]">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-footer" *ngIf="!isLoading && users?.length>0">
        <div class="pagination">
          <button (click)="getPrivous()" [disabled]="page ===1">< Previous</button>
          <button *ngFor="let pg of totalPageArr" [disabled]="page === pg" [class.selected]="page === pg" (click)="goToPage(pg)">{{pg}}</button>
          <button (click)="getNext()" [disabled]="page === totalPage">Next ></button>
        </div>

        <div class="compoBox">          
        <h5>Users Per Page:</h5>
        <select (change)="getValue($event)">
          <option *ngFor="let userPerPage of totalUserArr" value="{{userPerPage}}" [selected]="userPerPage == perPage">{{userPerPage}}</option>
        </select>
        </div>
      </div>
    </div>
  </div>
  