.section{
    display: flex;
    justify-content: space-between;
    .add-delete{
        margin-bottom: 20px;
    }
}
.table-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .pagination{
        button{
            padding: 0px 20px;
            margin-right: 2px;
            border: none;
            background-color: white;
            font-weight: 500;
    }
    .selected{
        border-bottom: 2px solid #ffc107;
        color: #ffc107;
    }
}
.compoBox {
    display: flex;
    align-items: center;
    select{
        border: 1px solid #ffc107;
        border-radius: 5px;
        margin: 0 20px;
        width: 100px;
        padding: 5px 10px;
    }
}
}