.add-details{
    margin-bottom: 20px;
}

.pagination{
    button{
        padding: 0px 20px;
        margin-right: 2px;
        border: 1px solid rgb(109, 108, 108);
        background-color: white;
    }
    .selected{
        background-color: #d3d0c6d9;
    }
}
.compoBox {
    display: flex;
    align-items: center;
    select{
        padding: 0px 20px;
        border: 1px solid #ffc107;
        margin: 0 20px;
    }
}